<header>
    <nav>
        <a href = "/">Inicio</h2></a>
        <a href = "/menus">Menús</a>
        <a href = "#">Registrarse</a>
        <a href = "#">Iniciar Sesion</a>
        <a href = "#"></a><i class="fa fa-shopping-cart"></i></a>
    </nav>
</header>